# Nuxt dev/build outputs
.output
.data
.nuxt
.nitro
.cache
dist

# Node dependencies
node_modules

# Logs
logs
*.log

# Misc
.DS_Store
.fleet
.idea

# Local env files
.env
.env.*
!.env.example               

# pnpm store and home directory
.pnpm-home/
.pnpm-store/

managed_context/

test_suite_analysis/

# Test Coverage & Report files
coverage/
test-results/
